# Print statement

Ini adalah paling ringkas tetapi amat bermanfaat. Jika tidak *print* macam mana nak tahu apa code kita tu keluar kan? Dengan adanya print statement ini, kita boleh hantar variable apa untuk dikeluarkan dalam *console*

Terdapat beberapa cara untuk keluarkan output dalam Python

## f-string

Gunakan cara ini jika nak gabungkan lebih dari satu variable di dalam satu print. Sediakan variable seperti (nama) dan kemudian bina satu ayat ringkas di dalam `print()`

Cara ini juga mudah digunakan kerana boleh gabungkan dengan apa sahaja variable (str, int, list) di dalam satu `print()`

In [1]:
nama = "Walid bin Ahmad"

print(f"nama bapa budak itu adalah {nama}")

nama bapa budak itu adalah Walid bin Ahmad

In [2]:
umur = 70

print(f"nama bapa budak itu adalah {nama} dan umurnya {umur} tahun")

nama bapa budak itu adalah Walid bin Ahmad dan umurnya 70 tahun

In [3]:
anaks = ['walid1', 'walid2']

print(f"nama bapa budak itu adalah {nama} dan umurnya {umur} tahun. Anaknya pula nama {anaks}")

nama bapa budak itu adalah Walid bin Ahmad dan umurnya 70 tahun. Anaknya pula nama ['walid1', 'walid2']

## format()

Cara ini adalah kaedah lama di dalam Python berbanding f-string. Dengan `format()` anda perlu menambahkan `str.format()` line tambahan di belakang dan menampakkan lebih panjang. 

Tetapi, format() amat berguna jika anda tidak mahu pening kepala sekiranya dalam print statement perlu menggunakan *slash* atau *backslash*

In [4]:
print("nama bapa budak itu adalah {nama}".format(nama=nama))

nama bapa budak itu adalah Walid bin Ahmad

In [5]:
print("nama bapa budak itu adalah {}".format(nama))

nama bapa budak itu adalah Walid bin Ahmad

In [6]:
print("nama bapa budak itu adalah {nama} dan umurnya {umur} tahun. Anaknya pula nama {anaks}".format(nama=nama, umur=umur, anaks=anaks))

nama bapa budak itu adalah Walid bin Ahmad dan umurnya 70 tahun. Anaknya pula nama ['walid1', 'walid2']

In [7]:
print("nama bapa budak itu adalah {0} dan umurnya {1} tahun. Anaknya pula nama {anaks}".format(umur, nama, anaks=anaks))

nama bapa budak itu adalah 70 dan umurnya Walid bin Ahmad tahun. Anaknya pula nama ['walid1', 'walid2']

## %
Kaedah yang lagi lama sebelum format dan lebih sukar untuk digunakan kerana perlu nyatakan data type terlebih dahulu

In [8]:
print("nama bapa budak itu adalah %s" %nama)

nama bapa budak itu adalah Walid bin Ahmad

In [9]:
print("nama bapa budak itu adalah %d" %nama)

TypeError: %d format: a real number is required, not str

In [ ]:
print("nama bapa budak itu adalah %s dan umurnya %d tahun. Anaknya pula nama %s" % (nama, umur, anaks))